# Gradle folder
.gradle

# IDE folder
.idea

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Include gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar

build
